// some misc styles
.element--center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	background-color: #f3f3f3;
	color: #333;
	border-radius: 2px;
	padding: 1px 5px;
}

.text-center {
	text-align: center;
}

.pull-right {
	float: right;
}

.draft {
	color: #999 !important;

	&-pill {
		/* Center the content */
		align-items: center;

		justify-content: center;
		font-size: 0.6rem;

		white-space: nowrap;
		/* Colors */
		background-color: #999;
		color: #fff;

		/* Rounded border */
		border-radius: 1em;
		padding: 0.2em 1em;
		margin: 0.25em 0.5em;
		border: none;
		outline: none;
		position: fixed;

	}
}
